.header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__logo {
    display: flex;
    align-items: center;
    gap: 10px;

    p {
      font-size: 24px;
      font-weight: bold;
    }
  }

  &__menu {
    display: flex;
    gap: 16px;
  }
}

.sidebar-toggle {
  background: transparent;
  border: none;
  cursor: pointer;
}
