app-header,
app-footer {
  width: 100%;
}

nb-sidebar {
  transition: width 0.5s;
}

.collapsed {
  width: 0 !important;
}

.btn-container {
  margin-top: 3rem;
  width: 100%;
  text-align: center;
}
