<nb-form-field class="search-form">
  <input nbInput type="text" [(ngModel)]="query" placeholder="Enter title...">
  <button nbSuffix nbButton ghost (click)="search()">
    <nb-icon icon="search-outline" status="pimary">
    </nb-icon>
  </button>
</nb-form-field>

<div class="results" [nbSpinner]="loading" nbSpinnerSize="giant" nbSpinnerStatus="primary">
  <div accent="primary" class="movie" *ngFor="let movie of results">
      <img *ngIf="movie.poster_path !== null" class="movie__poster" src="{{ moviesService.getImage(movie.poster_path) }}" alt="">
      <img *ngIf="movie.poster_path === null" class="movie__poster-null">
      <div class="image-overlay">
        <button nbButton class="image-overlay__button">Save</button>
      </div>
      <div class="movie__info">
        <p class="movie__date">
          {{ moviesService.formatDate(movie.release_date) }}
        </p>
        <p class="movie__title">
          {{ movie.title }}
        </p>
    </div>
  </div>
</div>
