<div class="search-form">
  <nb-form-field>
    <nb-select placeholder="Category" [(selected)]="selectValue">
      <nb-option value="movies">Movies</nb-option>
      <nb-option value="tv">TV Shows</nb-option>
      <nb-option value="books">Books</nb-option>
      <nb-option value="music">Music</nb-option>
    </nb-select>
  </nb-form-field>
  <nb-form-field>
    <input nbInput type="text" [(ngModel)]="query" placeholder="Enter title..."  #searchInput (keyup.enter)="search(); searchInput.blur();">
    <button nbSuffix nbButton ghost (click)="search()">
      <nb-icon icon="search-outline" status="pimary"></nb-icon>
    </button>
  </nb-form-field>
</div>

<div class="quote" *ngIf="selectValue === 'movies' && movieResults.length === 0 && loading === false">
  <p class="quote__content">
    “Every film should have its own world, a logic and feel to it that expands beyond the exact image that the audience is seeing.”
  </p>
  <h3 class="quote__author">
    Christopher Nolan
  </h3>
</div>

<div class="quote" *ngIf="selectValue === 'tv' && bookResults.length === 0 && loading === false">
  <p class="quote__content">
    “I've never experienced loss because I've never had a loved one to lose. What is grief, if not love persevering?”
  </p>
  <h3 class="quote__author">
    Vision (WandaVision)
  </h3>
</div>

<div class="quote" *ngIf="selectValue === 'music' && musicResults.length === 0 && loading === false">
  <p class="quote__content">
    “There's no better way to get your point across than to put it in a beautiful song.”
  </p>
  <h3 class="quote__author">
    Ed Sheeran
  </h3>
</div>

<div class="quote" *ngIf="selectValue === 'books' && bookResults.length === 0 && loading === false">
  <p class="quote__content">
    “When something bad happen, you don't know what good it will bring.”
  </p>
  <h3 class="quote__author">
    Luka Modric (Official Autobiography)
  </h3>
</div>

<div class="results" [nbSpinner]="loading" nbSpinnerSize="giant" nbSpinnerStatus="primary" *ngIf="selectValue === 'movies'">
  <div accent="primary" class="item" *ngFor="let movie of movieResults">
      <img *ngIf="movie.poster_path !== null" class="item__poster" src="{{ movies.getImage(movie.poster_path) }}" alt="">
      <div *ngIf="movie.poster_path === null" class="item__poster item__poster--null">
        <p>No poster available</p>
      </div>
      <div class="image-overlay">
        <button nbButton class="image-overlay__button" (click)="selectItem(movie)">Save</button>
      </div>
      <div class="item__info">
        <p class="item__date">
          {{ movies.formatDate(movie.release_date) }}
        </p>
        <p class="item__title">
          {{ movie.title }}
        </p>
    </div>
  </div>
</div>

<div class="results" [nbSpinner]="loading" nbSpinnerSize="giant" nbSpinnerStatus="primary" *ngIf="selectValue === 'tv'">

</div>

<div class="book-results" [nbSpinner]="loading" nbSpinnerSize="giant" nbSpinnerStatus="primary" *ngIf="selectValue === 'books'">
  <div accent="primary" class="item" *ngFor="let book of bookResults">
    <img *ngIf="book.volumeInfo.imageLinks.thumbnail !== null" class="item__poster" src="{{ book.volumeInfo.imageLinks.thumbnail }}" alt="">
    <div *ngIf="book.volumeInfo.imageLinks.thumbnail === null" class="item__poster item__poster--null">
      <p>No poster available</p>
    </div>
    <div class="image-overlay">
      <button nbButton class="image-overlay__button" (click)="selectItem(book)">Save</button>
    </div>
    <div class="item__info">
      <p class="item__title">
        {{ book.volumeInfo.title }}
      </p>
      <p class="item__author" *ngFor="let author of book.volumeInfo.authors">
        {{ author }}
      </p>
    </div>
  </div>
</div>

<div class="results" [nbSpinner]="loading" nbSpinnerSize="giant" nbSpinnerStatus="primary" *ngIf="selectValue === 'music'">
  <div accent="primary" class="item" *ngFor="let music of musicResults">
    <img *ngIf="music.album.cover_big !== null" class="item__poster" src="{{ music.album.cover_big }}" alt="">
    <div *ngIf="music.album.cover_big === null" class="item__poster item__poster--null">
      <p>No poster available</p>
    </div>
    <div class="image-overlay">
      <button nbButton class="image-overlay__button" (click)="selectItem(music)">Save</button>
    </div>
    <div class="item__info">
      <p class="item__title">
        {{ music.title }}
      </p>
      <p class="item__singer">
        {{ music.artist.name }}
      </p>
    </div>
  </div>
</div>

<div class="popup" *ngIf="openModal === true">
  <nb-card class="popup__card" *ngIf="selectValue === 'movies'">
    <nb-card-header class="popup__card--header">Save Movie</nb-card-header>
    <nb-card-body class="popup__card--body">
      <form [formGroup]="saveForm" (ngSubmit)="saveItem()">
        <div class="popup__form">
          <nb-form-field class="popup__input">
            <input readonly nbInput placeholder="Date" [nbDatepicker]="endDate" formControlName="endDate">
            <nb-datepicker #endDate></nb-datepicker>
          </nb-form-field>
          <nb-form-field class="popup__input">
            <nb-select placeholder="Rating" formControlName="rating">
              <nb-option value="1">1</nb-option>
              <nb-option value="2">2</nb-option>
              <nb-option value="3">4</nb-option>
              <nb-option value="5">5</nb-option>
              <nb-option value="6">6</nb-option>
              <nb-option value="7">7</nb-option>
              <nb-option value="8">8</nb-option>
              <nb-option value="9">9</nb-option>
              <nb-option value="10">10</nb-option>
            </nb-select>
          </nb-form-field>
        </div>
        <button nbButton hero status="danger" size="small" class="popup__button" (click)="closeModal()">Cancel</button>
        <button nbButton hero status="primary" size="small" class="popup__button" type="submit">Save</button>
      </form>
    </nb-card-body>
  </nb-card>

  <nb-card class="popup__card" *ngIf="selectValue === 'music'">
    <nb-card-header class="popup__card--header">Save Music</nb-card-header>
    <nb-card-body class="popup__card--body">
      <div class="popup__form">
        <nb-form-field class="popup__input">
          <input nbInput placeholder="Discovered Date" [nbDatepicker]="dateTimePicker">
          <nb-datepicker #dateTimePicker></nb-datepicker>
        </nb-form-field>
        <nb-form-field class="popup__input">
          <nb-select placeholder="Rating">
            <nb-option value="1">1</nb-option>
            <nb-option value="2">2</nb-option>
            <nb-option value="3">4</nb-option>
            <nb-option value="5">5</nb-option>
            <nb-option value="6">6</nb-option>
            <nb-option value="7">7</nb-option>
            <nb-option value="8">8</nb-option>
            <nb-option value="9">9</nb-option>
            <nb-option value="10">10</nb-option>
          </nb-select>
        </nb-form-field>
      </div>
      <button nbButton hero status="danger" size="small" class="popup__button" (click)="closeModal()">Cancel</button>
      <button nbButton hero status="primary" size="small" class="popup__button" (click)="saveItem()">Save</button>
    </nb-card-body>
  </nb-card>
</div>
