<div class="search-form">
  <nb-form-field>
    <nb-select placeholder="Category" [(selected)]="selectValue">
      <nb-option value="movies">Movies</nb-option>
      <nb-option value="tv">TV Shows</nb-option>
      <nb-option value="books">Books</nb-option>
      <nb-option value="music">Music</nb-option>
    </nb-select>
  </nb-form-field>
  <nb-form-field>
    <input nbInput type="text" [(ngModel)]="query" placeholder="Enter title...">
    <button nbSuffix nbButton ghost (click)="search()">
      <nb-icon icon="search-outline" status="pimary">
      </nb-icon>
    </button>
  </nb-form-field>
</div>

<div class="results" [nbSpinner]="loading" nbSpinnerSize="giant" nbSpinnerStatus="primary" *ngIf="selectValue === 'movies'">
  <div accent="primary" class="movie" *ngFor="let movie of results">
      <img *ngIf="movie.poster_path !== null" class="movie__poster" src="{{ moviesService.getImage(movie.poster_path) }}" alt="">
      <img *ngIf="movie.poster_path === null" class="movie__poster-null">
      <div class="image-overlay">
        <button nbButton class="image-overlay__button">Save</button>
      </div>
      <div class="movie__info">
        <p class="movie__date">
          {{ moviesService.formatDate(movie.release_date) }}
        </p>
        <p class="movie__title">
          {{ movie.title }}
        </p>
    </div>
  </div>
</div>

<div class="results" [nbSpinner]="loading" nbSpinnerSize="giant" nbSpinnerStatus="primary" *ngIf="selectValue === 'tv'">

</div>

<div class="results" [nbSpinner]="loading" nbSpinnerSize="giant" nbSpinnerStatus="primary" *ngIf="selectValue === 'books'">

</div>

<div class="results" [nbSpinner]="loading" nbSpinnerSize="giant" nbSpinnerStatus="primary" *ngIf="selectValue === 'music'">

</div>
